*{
    box-sizing: border-box;
}
:root {
    
    --global-main-color : #ffba00;
    --global-primary-color : #363636;
    --global-secondary-color : #777777;
    --global-white-color : #fff;
    --global-secondary-main-color : #828bb2;
    --global-primary-gradient-color-90deg : linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    --global-primary-gradient-color-270deg : linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    --font-primary-family : sans-serif;

}
body{
    overflow-x: hidden;
}
.header {
    background: url("../assets/img/banner-imgs/banner-bg.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: grid;
    place-items: center;
}
.nav-bar {
    width: 90%;
    padding: 14px 30px;
    margin: 0px auto;
    background-color: var(--global-white-color);
    transition: all 0.5s ease 0s;
    position: fixed;
    left: 70px;
    top: 40px;
    /* transform: translateX(-50%); */

    z-index: 100;
}
.navbar-toggler {
    width: 100%;


    left: 0;
    top: 0;
    transform: translateX(0);
    z-index: 100;
}
.nav-bar .navbar-menu,.nav-bar .navbar-menu-slide {
    display: flex;
    font-size: 12px;    
    font-weight: 700;
    /* justify-content: end;
    align-items: center; */

    z-index: 100;
}
.nav-bar .navbar-menu-slide{
    display: none;
}
.nav-bar .navbar-menu .nav-item {
    padding: 10px 20px;

}
.nav-bar .navbar-menu-slide .nav-item {
    padding: 15px 15px;
}

.nav-bar .navbar-menu .nav-item.active ,.nav-bar .navbar-menu-slide .nav-item.active, 
.nav-bar .navbar-menu .nav-item:hover ,.nav-bar .navbar-menu-slide .nav-item:hover {
    color: var(--global-main-color);
}
.nav-bar .navbar-menu .nav-item:hover .navbar-menu-item,.nav-bar .navbar-menu-slide .nav-item:hover .navbar-menu-item{
    display: block;
    animation: fate-show 0.2s linear 0s 1 forwards;
    
}

.navbar-menu .nav-item .navbar-menu-item  {
    display: none;
    top: 100%;
    width: 200px;
    padding-top: 23px;
}
.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item {
    display: none;
}
.navbar-menu .nav-item .navbar-menu-item .navbar-item ,.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item .navbar-item{
    padding: 13px 20px;
    border-bottom: 1px solid #f3f3f3;
}
.navbar-menu .nav-item .navbar-menu-item .navbar-item:last-child ,.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item .navbar-item:last-child  {
    border: none;
}
.navbar-menu .nav-item .navbar-menu-item .navbar-item:hover,.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item .navbar-item:hover{
    color: #fff;
    background-color: var(--global-main-color);
}
.slide-btn-container {
    display: none;
}
.nav-bar .slide-btn-container .slide-btn {
    border: 1px solid var(--global-primary-color);
    padding: 5px;
    border-radius: 5px;
}
.nav-bar .slide-btn div {
    width: 30px;
    height: 4px;
    background-color: #363636;
}
.nav-bar .slide-btn div:nth-child(2){
    margin: 4px 0px;
}
.search-box-container {
    width: 100%;
    height: 50px;

    background: var(--global-primary-gradient-color-270deg);
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    display: none;
}
.search-box-container .search-box {
    width: 95%;
    height: 100%;
    outline: none;
    background: none;
    display: none;
    caret-color: var(--global-white-color);
    color: var(--global-white-color);
}
.search-box-container .search-box::placeholder {
    color: var(--global-white-color);
}
.search-close-btn {
    font-size: 25px;
    color: #000;
    cursor: pointer;
}
.search-close-btn:hover {
    color: var(--global-white-color);
}

.header-banner-section {
    padding: 0px 120px;
    width: 100%;
}
.banner-carousel-content-title {
    font-size: 60px;
}
.banner-carousel-content {
    opacity: 0;
    display: none;
}
.carousel-show {
    display: block;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fate-show 0.5s linear 0s 1 forwards;
}
@keyframes fate-show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.banner-carousel-button .carousel-button{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    color: var(--global-white-color);
    text-align: center;
    line-height: 45px;
    background: var(--global-primary-gradient-color-90deg);
    font-size: 30px;
    display: inline-block;
    border-radius: 50%;
}
.banner-carousel-button span {
    font-size: 13px;
    display: inline-block;
}
.carousel-prev-btn ,.carousel-next-btn {
    width: 50px;
    height: 100%;
    font-size: 30px;
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;

    transition: all 0.3s ease 0s;
}
.carousel-prev-btn {
    left: -50px;
}
.carousel-next-btn {
    right: -50px;
}
.carousel-prev-btn:hover ,.carousel-next-btn:hover {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.2);
}
.banner-carousel-indicator {
    position: absolute;
    width: 100%;
    height: 20px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    left: 0;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-carousel-indicator .dot {
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.8);
    opacity: 0.5;
    cursor: pointer;
}
.banner-carousel-indicator .dot.active {
    opacity: 1;
}

/* services-section */
.services-section {
    padding: 100px;
}
.services-container{
    /* padding: 50px; */
    height: 100px;
    /* background-color: #777777; */
}
.services-container i {
    font-size: 30px;
    
}
.services-container span:nth-of-type(1) {
    font-size: 18px;
    display: inline-block;
    margin: 10px 0px;
    font-weight: 700;
}
.services-container:hover i {
    opacity: 0.7;
}
/* Gallery Section */
.gallery-section {
    padding: 0px 100px;
}
.gallery-img-container {
    display: grid;
    place-items: center;
    /* width: max-content; */
    /* height: 200px; */
    /* background-color: #363636; */
    overflow: hidden;
    position: relative;
}
.gallery-img-container img {
    transform: scale(1.3);
}
.gallery-img-container::before{
    content: "Sneaker For Sports";
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    top: 0;

    z-index: 2;

    transition: all 0.3s ease 0s;

}
.gallery-img-container:hover::before{
    transform: translateY(0%);
}

/* gallery-modal */
.gallery-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;

    z-index: 101;

    display: none;
    
}
.show-modal {
    display: block;
    animation: fate-show 0.5s linear 0s 1 forwards;
}

.modal-content-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.modal-content {
    width: 80%;
    height: 500px;
    /* background-color: #363636; */
    margin: 0 auto;
}
.show-content{
    display: none;
    width: 100%;
    height: 100%;
}
.show-content.active {
    display: block;
}
.show-content img {
    width: 100%;
    height: 100%;


}


.modal-indicator-container {
    width: 100%;
    height: 70px;
}
.modal-indicator {
    width: 100%;
    height: 100%;
}
.show-indicator {
    width: 100%;
    height: 100%;
    /* background-color: #777777; */
    display: flex;
    gap: 10px;
}
.show-indicator-img {
    width: 100px;
    height: 70px;
    opacity: 0.7;
}
.show-indicator-img.active {
    opacity: 1;
}
.show-indicator-img img {
    width: 100%;
    height: 100%;

}

.prev-btn ,.next-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}
.prev-btn {
    left: -50px;

}
.next-btn {
    right: -50px;

}
.prev-btn:hover ,.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--global-white-color);
}
#close-gallery-modal-btn{
    font-size: 30px;
    position: absolute;
    right: -50px;
    top: 10px;
    cursor: pointer;
}
#close-gallery-modal-btn:hover {
    font-weight: 700;
}

/* product-section */
.product-section {
    width: 100%;
    padding: 100px;
}
.product-container {
    display: none;
}
.product-container-show {
    display: block;
    animation: fate-show 0.8s linear 0s 1 forwards;
}

.product-container-title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.product-container-title h1 {
    font-size: 45px;
}
.show-products-items-container .product-items .product-img-container {
    width: 100%;

    height: auto;
    background-color: #777777;
}
.show-products-items-container .product-items .product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.show-products-items-container .product-items .product-detail{
    font-size: 18px;
}
.show-products-items-container .product-items .price-container{
    font-size: 15px;
}
.show-products-items-container .product-items .item-tools .item-tool-list .item-tool-list-item a {
    width: 35px;
    height: 35px;
    background-color: var(--global-secondary-main-color);
    border-radius: 50%;
    color: var(--global-white-color);
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}
.show-products-items-container .product-items .item-tools .item-tool-list .item-tool-list-item .item-tool-show-detail-list {
    font-size: 13px;
    margin-right: 6px;
    padding: 0;
    width: 0%;
    overflow: hidden;
    display: none;
    cursor: pointer;
    /* background-color: #363636; */

}
.show-products-items-container .product-items .item-tools .item-tool-list .item-tool-list-item:hover .item-tool-show-detail-list{
    display: flex;
    width: max-content;
    /* animation: items-tool-ani 0.3s linear 0s 1 forwards; */

}
@keyframes items-tool-ani {
    0%{
        width: 0%;
    }
    100% {
        width: max-content;
    }
}
.product-section-container .slide-product-btn-container {
    top: 0%;
}
.product-prev-btn,.product-next-btn{
    width: 50px;
    height: 100%;
    font-size: 18px;
    position: absolute;
    opacity: 0.7;
    top: 50%;
    background-color: #363636;
    z-index: 2;
}
.product-prev-btn {
    left: 20%;
}
.product-next-btn {
    right: 20%;
}
.product-prev-btn:hover,.product-next-btn:hover{
    opacity: 1;
}

/* product-timer-section */
.product-timer-section-container .product-timer-container {
    /* background: url("../assets/img/background-imgs/exclusive.jpg.webp"); */
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.7)
        ),url("../assets/img/background-imgs/exclusive.jpg.webp");
        
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-timer-header h1{
    font-size: 30px;

}
.product-timer-main-container {
    padding: 30px;
    background-color: var(--global-white-color);
    border-radius: 10px;
}
.product-timer-main-container .timer {
    display: inline-block;
    width: 24%;
    /* background-color: #828bb2; */
    
}
.product-timer-main-container .timer .time {
    font-size: 30px;
}

.shop-now-btn-container {
    width: 100%;
    text-align: center;
    
}

.shop-now-btn-container a {
    display: inline-block;
    padding: 15px 20px;
    background: var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
    font-weight: 700;


    border-radius: 20px;
}
.shop-carousel-container {
    width: 80%;

}
.shop-carousel-content {
    display: none;
}
.shop-carousel-content.active {
    display: block;
    animation: fate-show 0.8s linear 0s 1 forwards;
    
}
.shop-carousel-content-img {
    width: 70%;
    height: 400px;
    margin: 0 auto;
}
.shop-carousel-content-img img {
    width: 100%;
    height: 100%;

}
.shop-cart-price {

    font-size: 15px;
}
.shop-cart-description {
    font-size: 25px;
}

.shop-add-bag-container a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;

    color: var(--global-white-color);
    background: var(--global-primary-gradient-color-90deg);

    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.shop-add-bag-container span{
    font-size: 15px;
}
.sold-prev-btn ,.sold-next-btn {
    font-size: 25px;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}
.sold-prev-btn {
    left: 0px;
}
.sold-next-btn {
    right: 0px;
}

/* logo-section start */
.logo-section {
    width: 100%;
    padding: 50px 100px;

}

.company-logo-container {
    width: 200px;
    display: grid;
    place-items: center;
}

.company-logo-container img {
    width: 80%;
    opacity: 0.5;

    transition: all 0.4s ease 0s;
}

.company-logo-container img:hover {
    opacity: 1;
}

/* week-product-show-section */

.week-product-show-section {
    padding: 50px 100px;
}

/* footer-container */
.footer-container {
    padding: 50px 100px;
    background-color: #222222;
}
.footer-container .footer-head{
    font-size: 20px;
}
.contact-email {
    width: 80%;
    outline: 0;
    border: 0;
}
.contact-email:focus {
    outline: 0;
    border: 0;
}
.submit-container {
    width: 20%;
    height: 100%;

}
.submit-container .contact-submit-btn {
    width: 100%;
    height: 100%;
    background:var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
}

/*---------------- ****secondary-pages****** ---------------*/

.secondary-header {
    height: 60vh;
    background-size: 120%;
}

.secodary-banner-section .banner-bager a,.secodary-banner-section .banner-bager span {
    display: inline-block;
    color: var(--global-white-color);
    margin-right: 20px;
    font-size: 13px;
}

.secodary-banner-section .secondary-ban h1{
    font-size: 35px;
}

.secodary-banner-section .secondary-ban{
    padding-top: 7%;
    padding-left: 15%;
}