:root {
    
    --global-main-color : #ffba00;
    --global-primary-color : #363636;
    --global-secondary-color : #777777;
    --global-white-color : #fff;
    --global-primary-gradient-color-90deg : linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    --global-primary-gradient-color-270deg : linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    --font-primary-family : sans-serif;

}
.header {
    background: url("../assets/img/banner-imgs/banner-bg.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 40px ;
}
.nav-bar {
    width: 90%;
    padding: 14px 30px;
    margin: 0px auto;
    background-color: var(--global-white-color);
    transition: all 0.5s ease 0s;
    position: fixed;
    left: 70px;
    top: 40px;
    /* transform: translateX(-50%); */
}
.navbar-toggler {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    transform: translateX(0);
}
.nav-bar .navbar-menu,.nav-bar .navbar-menu-slide {
    display: flex;
    font-size: 12px;    
    font-weight: 700;
    /* justify-content: end;
    align-items: center; */
}
.nav-bar .navbar-menu-slide{
    display: none;
}
.nav-bar .navbar-menu .nav-item {
    padding: 10px 15px;

}
.nav-bar .navbar-menu-slide .nav-item {
    padding: 15px 15px;
}
.nav-bar .navbar-menu .nav-item:hover ,.nav-bar .navbar-menu-slide .nav-item:hover {
    color: var(--global-main-color);
}
.slide-btn-container {
    display: none;
}
.nav-bar .slide-btn-container .slide-btn {
    border: 1px solid var(--global-primary-color);
    padding: 5px;
    border-radius: 5px;
}
.nav-bar .slide-btn div {
    width: 30px;
    height: 4px;
    background-color: #363636;
}
.nav-bar .slide-btn div:nth-child(2){
    margin: 4px 0px;
}
.search-box-container {
    width: 100%;
    height: 50px;

    background: var(--global-primary-gradient-color-270deg);
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    display: none;
}
.search-box-container .search-box {
    width: 80%;
    height: 100%;
    outline: none;
    background: none;
    display: none;
    caret-color: var(--global-white-color);
    color: var(--global-white-color);
}
.search-box-container .search-box::placeholder {
    color: var(--global-white-color);
}
.search-close-btn {
    font-size: 25px;
    color: #000;
    cursor: pointer;
}
.search-close-btn:hover {
    color: var(--global-white-color);
}
@media (max-width: 800px){
    .nav-bar .navbar-menu-slide{
        display: block;
        
    }
    .nav-bar .navbar-menu,.nav-bar .navbar-menu-slide {
        display: none;

    }
    .slide-btn-container {
        display: grid;
    }
}