*{
    box-sizing: border-box;
}
:root {
    
    --global-main-color : #ffba00;
    --global-primary-color : #363636;
    --global-secondary-color : #777777;
    --global-white-color : #fff;
    --global-secondary-main-color : #828bb2;
    --global-secondary-background-color: #e8f0f2;
    --global-primary-gradient-color-90deg : linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    --global-primary-gradient-color-270deg : linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    --font-primary-family : sans-serif;

}
body{
    overflow-x: hidden;
}
.header {
    background: url("../assets/img/banner-imgs/banner-bg.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: grid;
    place-items: center;
}
.nav-bar {
    width: 90%;
    padding: 14px 30px;
    margin: 0px auto;
    background-color: var(--global-white-color);
    transition: all 0.5s ease 0s;
    position: fixed;
    left: 70px;
    top: 40px;
    /* transform: translateX(-50%); */

    z-index: 100;
}
.navbar-toggler {
    width: 100%;


    left: 0;
    top: 0;
    transform: translateX(0);
    z-index: 100;
}
.nav-bar .navbar-menu,.nav-bar .navbar-menu-slide {
    display: flex;
    font-size: 12px;    
    font-weight: 700;
    /* justify-content: end;
    align-items: center; */

    z-index: 100;
}
.nav-bar .navbar-menu-slide{
    display: none;
}
.nav-bar .navbar-menu .nav-item {
    padding: 10px 20px;

}
.nav-bar .navbar-menu-slide .nav-item {
    padding: 15px 15px;
}

.nav-bar .navbar-menu .nav-item.active ,.nav-bar .navbar-menu-slide .nav-item.active, 
.nav-bar .navbar-menu .nav-item:hover ,.nav-bar .navbar-menu-slide .nav-item:hover {
    color: var(--global-main-color);
}
.nav-bar .navbar-menu .nav-item:hover .navbar-menu-item,.nav-bar .navbar-menu-slide .nav-item:hover .navbar-menu-item{
    display: block;
    animation: fate-show 0.2s linear 0s 1 forwards;
    
}

.navbar-menu .nav-item .navbar-menu-item  {
    display: none;
    top: 100%;
    width: 200px;
    padding-top: 23px;
}
.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item {
    display: none;
}
.navbar-menu .nav-item .navbar-menu-item .navbar-item ,.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item .navbar-item{
    padding: 13px 20px;
    border-bottom: 1px solid #f3f3f3;
}
.navbar-menu .nav-item .navbar-menu-item .navbar-item:last-child ,.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item .navbar-item:last-child  {
    border: none;
}
.navbar-menu .nav-item .navbar-menu-item .navbar-item:hover,.nav-bar .navbar-menu-slide .nav-item .navbar-menu-item .navbar-item:hover{
    color: #fff;
    background-color: var(--global-main-color);
}
.slide-btn-container {
    display: none;
}
.nav-bar .slide-btn-container .slide-btn {
    border: 1px solid var(--global-primary-color);
    padding: 5px;
    border-radius: 5px;
}
.nav-bar .slide-btn div {
    width: 30px;
    height: 4px;
    background-color: #363636;
}
.nav-bar .slide-btn div:nth-child(2){
    margin: 4px 0px;
}
.search-box-container {
    width: 100%;
    height: 50px;

    background: var(--global-primary-gradient-color-270deg);
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    display: none;
}
.search-box-container .search-box {
    width: 95%;
    height: 100%;
    outline: none;
    background: none;
    display: none;
    caret-color: var(--global-white-color);
    color: var(--global-white-color);
}
.search-box-container .search-box::placeholder {
    color: var(--global-white-color);
}
.search-close-btn {
    font-size: 25px;
    color: #000;
    cursor: pointer;
}
.search-close-btn:hover {
    color: var(--global-white-color);
}

.header-banner-section {
    padding: 0px 120px;
    width: 100%;
}
.banner-carousel-content-title {
    font-size: 60px;
}
.banner-carousel-content {
    opacity: 0;
    display: none;
}
.carousel-show {
    display: block;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fate-show 0.5s linear 0s 1 forwards;
}
@keyframes fate-show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.banner-carousel-button .carousel-button{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    color: var(--global-white-color);
    text-align: center;
    line-height: 45px;
    background: var(--global-primary-gradient-color-90deg);
    font-size: 30px;
    display: inline-block;
    border-radius: 50%;
}
.banner-carousel-button span {
    font-size: 13px;
    display: inline-block;
}
.carousel-prev-btn ,.carousel-next-btn {
    width: 50px;
    height: 100%;
    font-size: 30px;
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;

    transition: all 0.3s ease 0s;
}
.carousel-prev-btn {
    left: -50px;
}
.carousel-next-btn {
    right: -50px;
}
.carousel-prev-btn:hover ,.carousel-next-btn:hover {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.2);
}
.banner-carousel-indicator {
    position: absolute;
    width: 100%;
    height: 20px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    left: 0;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-carousel-indicator .dot {
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.8);
    opacity: 0.5;
    cursor: pointer;
}
.banner-carousel-indicator .dot.active {
    opacity: 1;
}

/* services-section */
.services-section {
    padding: 100px;
}
.services-container{
    /* padding: 50px; */
    height: 100px;
    /* background-color: #777777; */
}
.services-container i {
    font-size: 30px;
    
}
.services-container span:nth-of-type(1) {
    font-size: 18px;
    display: inline-block;
    margin: 10px 0px;
    font-weight: 700;
}
.services-container:hover i {
    opacity: 0.7;
}
/* Gallery Section */
.gallery-section {
    padding: 0px 100px;
}
.gallery-img-container {
    display: grid;
    place-items: center;
    /* width: max-content; */
    /* height: 200px; */
    /* background-color: #363636; */
    overflow: hidden;
    position: relative;
}
.gallery-img-container img {
    transform: scale(1.3);
}
.gallery-img-container::before{
    content: "Sneaker For Sports";
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    top: 0;

    z-index: 2;

    transition: all 0.3s ease 0s;

}
.gallery-img-container:hover::before{
    transform: translateY(0%);
}

/* gallery-modal */
.gallery-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;

    z-index: 101;

    display: none;
    
}
.show-modal {
    display: block;
    animation: fate-show 0.5s linear 0s 1 forwards;
}

.modal-content-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.modal-content {
    width: 80%;
    height: 500px;
    /* background-color: #363636; */
    margin: 0 auto;
}
.show-content{
    display: none;
    width: 100%;
    height: 100%;
}
.show-content.active {
    display: block;
}
.show-content img {
    width: 100%;
    height: 100%;


}


.modal-indicator-container {
    width: 100%;
    height: 70px;
}
.modal-indicator {
    width: 100%;
    height: 100%;
}
.show-indicator {
    width: 100%;
    height: 100%;
    /* background-color: #777777; */
    display: flex;
    gap: 10px;
}
.show-indicator-img {
    width: 100px;
    height: 70px;
    opacity: 0.7;
}
.show-indicator-img.active {
    opacity: 1;
}
.show-indicator-img img {
    width: 100%;
    height: 100%;

}

.prev-btn ,.next-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}
.prev-btn {
    left: -50px;

}
.next-btn {
    right: -50px;

}
.prev-btn:hover ,.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--global-white-color);
}
#close-gallery-modal-btn{
    font-size: 30px;
    position: absolute;
    right: -50px;
    top: 10px;
    cursor: pointer;
}
#close-gallery-modal-btn:hover {
    font-weight: 700;
}

/* product-section */
.product-section {
    width: 100%;
    padding: 100px;
}
.product-container {
    display: none;
}
.product-container-show {
    display: block;
    animation: fate-show 0.8s linear 0s 1 forwards;
}

.product-container-title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.product-container-title h1 {
    font-size: 45px;
}
.show-products-items-container .product-items .product-img-container {
    width: 100%;

    height: auto;
    background-color: #777777;
}
.show-products-items-container .product-items .product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.show-products-items-container .product-items .product-detail{
    font-size: 18px;
}
.show-products-items-container .product-items .price-container{
    font-size: 15px;
}
.show-products-items-container .product-items .item-tools .item-tool-list .item-tool-list-item a {
    width: 35px;
    height: 35px;
    background-color: var(--global-secondary-main-color);
    border-radius: 50%;
    color: var(--global-white-color);
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}
.show-products-items-container .product-items .item-tools .item-tool-list .item-tool-list-item .item-tool-show-detail-list {
    font-size: 13px;
    margin-right: 6px;
    padding: 0;
    width: 0%;
    overflow: hidden;
    display: none;
    cursor: pointer;
    /* background-color: #363636; */

}
.show-products-items-container .product-items .item-tools .item-tool-list .item-tool-list-item:hover .item-tool-show-detail-list{
    display: flex;
    width: max-content;
    /* animation: items-tool-ani 0.3s linear 0s 1 forwards; */

}
@keyframes items-tool-ani {
    0%{
        width: 0%;
    }
    100% {
        width: max-content;
    }
}
.product-section-container .slide-product-btn-container {
    top: 0%;
}
.product-prev-btn,.product-next-btn{
    width: 50px;
    height: 100%;
    font-size: 18px;
    position: absolute;
    opacity: 0.7;
    top: 50%;
    background-color: #363636;
    z-index: 2;
}
.product-prev-btn {
    left: 20%;
}
.product-next-btn {
    right: 20%;
}
.product-prev-btn:hover,.product-next-btn:hover{
    opacity: 1;
}

/* product-timer-section */
.product-timer-section-container .product-timer-container {
    /* background: url("../assets/img/background-imgs/exclusive.jpg.webp"); */
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.7)
        ),url("../assets/img/background-imgs/exclusive.jpg.webp");
        
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-timer-header h1{
    font-size: 30px;

}
.product-timer-main-container {
    padding: 30px;
    background-color: var(--global-white-color);
    border-radius: 10px;
}
.product-timer-main-container .timer {
    display: inline-block;
    width: 24%;
    /* background-color: #828bb2; */
    
}
.product-timer-main-container .timer .time {
    font-size: 30px;
}

.shop-now-btn-container {
    width: 100%;
    text-align: center;
    
}

.shop-now-btn-container a {
    display: inline-block;
    padding: 15px 20px;
    background: var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
    font-weight: 700;


    border-radius: 20px;
}
.shop-carousel-container {
    width: 80%;

}
.shop-carousel-content {
    display: none;
}
.shop-carousel-content.active {
    display: block;
    animation: fate-show 0.8s linear 0s 1 forwards;
    
}
.shop-carousel-content-img {
    width: 70%;
    height: 400px;
    margin: 0 auto;
}
.shop-carousel-content-img img {
    width: 100%;
    height: 100%;

}
.shop-cart-price {

    font-size: 15px;
}
.shop-cart-description {
    font-size: 25px;
}

.shop-add-bag-container a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;

    color: var(--global-white-color);
    background: var(--global-primary-gradient-color-90deg);

    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.shop-add-bag-container span{
    font-size: 15px;
}
.sold-prev-btn ,.sold-next-btn {
    font-size: 25px;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}
.sold-prev-btn {
    left: 0px;
}
.sold-next-btn {
    right: 0px;
}

/* logo-section start */
.logo-section {
    width: 100%;
    padding: 50px 100px;

}

.company-logo-container {
    width: 200px;
    display: grid;
    place-items: center;
}

.company-logo-container img {
    width: 80%;
    opacity: 0.5;

    transition: all 0.4s ease 0s;
}

.company-logo-container img:hover {
    opacity: 1;
}

/* week-product-show-section */

.week-product-show-section {
    padding: 50px 100px;
}

/* footer-container */
.footer-container {
    padding: 50px 100px;
    background-color: #222222;
}
.footer-container .footer-head{
    font-size: 20px;
}
.contact-email {
    width: 80%;
    outline: 0;
    border: 0;
}
.contact-email:focus {
    outline: 0;
    border: 0;
}
.submit-container {
    width: 20%;
    height: 100%;

}
.submit-container .contact-submit-btn {
    width: 100%;
    height: 100%;
    background:var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
}

/*---------------- ****secondary-pages****** ---------------*/

.secondary-header {
    height: 60vh;
    background-size: 120%;
}

.secodary-banner-section .banner-bager a,.secodary-banner-section .banner-bager span {
    display: inline-block;
    color: var(--global-white-color);
    margin-right: 20px;
    font-size: 13px;
}

.secodary-banner-section .secondary-ban h1{
    font-size: 35px;
}

.secodary-banner-section .secondary-ban{
    padding-top: 7%;
    padding-left: 15%;
}


/* product-detail */
.product-detail-section {
    padding: 100px;
}
.description-header {
    background-color: var(--global-secondary-background-color);
    padding: 10px 0px;
}
.description-header .description-btn {
    background-color: var(--global-white-color);
    color: #000;
    font-size: 14px;
    
    user-select: none;

    transition: all 0.3s ease 0s;
}
.description-header .description-btn.active {
    background: var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
}
.description-body-details {
    animation: fate-show 0.3s linear 0s 1 forwards;
}
.product-detail-container span {
    color: var(--global-main-color);
}
.product-detail-container .product-submit .quantity:focus {
    outline: none;
    
}
.product-submit .addCartBtn{
    background: var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
    position: relative;
    overflow: hidden;
}
.product-submit .addCartBtn::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(230%);
    /* transform: ; */
    transition: all 0.4s ease 0s;
    z-index: 1;
}
.product-submit .form-group a{
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    display: grid;
    place-items: center;
}
.com-reply-btn-container a:hover {
    background: var(--global-primary-gradient-color-270deg) !important;
    border: none;
}

.comments-right-side form .form-group button{
    font-size: 18px;
    color: var(--global-white-color);
    background: var(--global-main-color) !important;
    position: relative;
    overflow: hidden;
}
.comments-right-side form .form-group input,.comments-right-side form .form-group textarea {
    font-size: 13px;
    padding-left: 20px;
}
.comments-right-side form .form-group button::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(230%);
    /* transform: ; */
    transition: all 0.4s ease 0s;
}

.comments-right-side form .form-group button:hover::before,.product-submit .addCartBtn:hover::before {
    transform: rotate(45deg) translateY(-200%);
}

.review-left-side .overall {
    background-color: var(--global-secondary-background-color);
}

.review-left-side .overall h1 {
    color: var(--global-main-color);
}

/* checkout-section start */
.checkout-section {
    padding: 100px;
}
.checkout-log-in-container .check-out-heading {
    background-color: var(--global-secondary-background-color);
}
.checkout-log-in-container a {
    color: #c5322d;
}
.log-in-submit-btn-group button {
    background-color: var(--global-main-color);
    font-size: 18px;
    font-weight: 600;
    color: var(--global-white-color);
    border-radius: 0;
}
.apply-coupon-btn-container button {
    background-color: var(--global-white-color);
    font-size: 16px;
    color: #000;
    transition: all 0.3s ease 0s;
    border: 1px solid #f2f3f2;
}
.apply-coupon-btn-container button:hover {
    background-color: var(--global-main-color);
    color: var(--global-white-color);
}
.order-container {
    background-color: var(--global-secondary-background-color);
}
.order-container .order-form .form-group {
    font-weight: 600;
    font-size: 14px;
}
.order-container .order-form .form-group input[type = radio]{
    accent-color: var(--global-main-color) !important;
}
.order-container .order-form button {
    background: var(--global-primary-gradient-color-270deg);
    color: var(--global-white-color);
    position: relative;
    overflow: hidden;
}
.order-container .order-form button::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(290%);
    /* transform: ; */
    transition: all 0.4s ease 0s;
}
.order-container .order-form button:hover::before{
    transform: rotate(45deg) translateY(-320%);
}

/* shopping_cart-container */
.shopping_cart-container {
    padding: 100px;
}
.shopping_cart-container table tfoot .update-cart-btn {
    padding: 10px 30px;
    background-color: var(--global-secondary-background-color);
}
.shopping_cart-container table tfoot .cupon-code-input {

    padding: 10px ;
}
.shopping_cart-container table tfoot .coupon-apply-btn {
    padding: 10px 30px;
    background: var(--global-primary-gradient-color-90deg);
    position: relative;
    overflow: hidden;
}
.shopping_cart-container table tfoot .coupon-close-btn {
    padding: 10px 30px;
    background-color: var(--global-secondary-background-color);
    color: #000;
}
.shopping_cart-container table tfoot .coupon-apply-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(180%);
    /* transform: ; */
    transition: all 0.2s ease 0s;
}
.shopping_cart-container table tfoot .coupon-apply-btn:hover::before {
    transform: rotate(45deg) translateY(-180%);
}
.shopping_cart-container table tfoot .cart-select-box select{
    background-color: var(--global-secondary-background-color);
}
.shopping_cart-container table tfoot .cart-postal-box {
    background-color: var(--global-secondary-background-color);
}
.shopping_cart-container table tfoot .update-btn button{
    background-color: var(--global-secondary-background-color);
}
.cart-submit-btn-group a{
    font-size: 14px;
}
.cart-submit-btn-group a:nth-child(1) {
    background-color: var(--global-secondary-background-color);
    color: #000;
}
.cart-submit-btn-group a:nth-child(2){
    background: var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
    overflow: hidden;
    position: relative;
} 
.cart-submit-btn-group a:nth-child(2)::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(300%);
    /* transform: ; */
    transition: all 0.2s ease 0s;
}
.cart-submit-btn-group a:nth-child(2):hover::before{
    transform: rotate(45deg) translateY(-280%);
}

/* confirmation-section Start */
.confirmation-section {
    padding: 100px;
}
.confirmation-order-detail {
    background-color: var(--global-secondary-background-color);
}
.confirmation-table table tr {
    height: 40px;
}
.confirmation-order-detail table tr{
    font-size: 15px;
    height: 50px;
}

/* log_in-section start */
.log_in-section {
    padding: 100px;
}
.log_in-section-container .log-in-section-left{
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.6)
    ),url("../assets/img/background-imgs/login.jpg.webp");
    padding: 0px 100px;
}
.log_in-section-container .log-in-section-left .left-contents-container .login-left-content{
    font-size: 15px;
}

.log_in-section-container .log-in-section-left .left-contents-container .log-in-left-create-account {

    padding: 10px 30px;
}
.log_in-section-container .log-in-section-left .left-contents-container .log-in-left-create-account a{
    display: inline-block;
    color: var(--global-white-color);
    background: var(--global-primary-gradient-color-90deg);
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
}

.log_in-section-container .log-in-section-left .left-contents-container .log-in-left-create-account a::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(230%);
    /* transform: ; */
    transition: all 0.2s ease 0s;
}
.log_in-section-container .log-in-section-left .left-contents-container .log-in-left-create-account a:hover::before{
    transform: rotate(45deg) translateY(-280%);
}
.log_in-section-container .log-in-section-right {
    padding: 130px;
}
.log_in-section-container .log-in-section-right .form-group input:focus {
    outline: none;
}
.log-in-section-right form button {
    background: var(--global-primary-gradient-color-90deg);
    color: var(--global-white-color);
    position: relative;
    overflow: hidden;
}
.log-in-section-right form button:hover{
    color: var(--global-white-color);
}
.log-in-section-right form button::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(500%);
    /* transform: ; */
    transition: all 0.2s ease 0s;
}
.log-in-section-right form button:hover::before {
    transform: rotate(45deg) translateY(-700%);
}

/* tracking-section */
.tracking-section {
    padding: 100px;
}
.tracking-section .tracking-section-container .tracking-content{
    width: 80%;
}
.tracking-section .tracking-section-container .tracking-content p{
    font-size: 15px;
}
.tracking-section .tracking-items-data form .form-group input {
    padding: 5px 10px;
}
.tracking-section .tracking-items-data form .form-group input::placeholder {
    font-weight: 400;
}
.tracking-section .tracking-items-data form .form-group button {
    padding: 10px 30px;
    color: var(--global-white-color);
    background: var(--global-primary-gradient-color-90deg);
    position: relative;
    overflow: hidden;
}
.tracking-section .tracking-items-data form .form-group button::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(500%);
    /* transform: ; */
    transition: all 0.4s ease 0s;
}
.tracking-section .tracking-items-data form .form-group button:hover::before{
    transform: rotate(45deg) translateY(-700%);
}

/* contact-section Start */
.contact-section {
    padding: 100px;
}

.contact-section-container .contact-google-map-container {
    height: 80vh;
}

.contact-contents-container .contact-detail-group .contact-icon{
    font-size: 20px;
    color: var(--global-main-color);
}
.contact-contents-container .contact-detail-group .contact-contact h1 {
    font-size: 18px;
}
.contact-contents-container form .form-group input,.contact-contents-container form .form-group textarea {
    padding: 7px 20px;
    font-size: 14px;
}

.contact-contents-container form .form-group input:focus,.contact-contents-container form .form-group textarea:focus {
    outline: none;
}
.contact-contents-container form .form-group button {
    padding: 10px 30px;
    background-color: var(--global-main-color);
    color: var(--global-white-color);
    overflow: hidden;
}
.contact-contents-container form .form-group button::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(30deg) translateY(500%);
    /* transform: ; */
    transition: all 0.4s ease 0s;
}
.contact-contents-container form .form-group button:hover::before{
    transform: rotate(45deg) translateY(-700%);
} 

/* blog-body-section */
.blog-body-section {
    padding: 100px;
}
.blog-body-section .blog-body-section-container .blog-img-container{
    height: 230px;
}
.blog-body-section .blog-body-section-container .blog-img-container .blog-img-overlayer  {
   background-color: rgba(0, 0, 0, 0.6); 
   transform: scale(0.85);
   transition: all 0.3s ease 0s;
}
.blog-body-section .blog-body-section-container .blog-img-container .blog-img-overlayer:hover {
    background-color: hsla(56, 96%, 50%, 0.562);  
}
.bolg-left-side-left-container p{
    font-size: 15px;
}
.bolg-left-side-left-container .blog-left-side-left-item-group span{
    font-size: 15px;
    color: gray;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.bolg-left-side-left-container .blog-left-side-left-item-group:hover span{
    color: var(--global-main-color);
}
.blog-left-side-right-container a{
    color: #000;
    transition: all 0.2s ease 0s;
}
.blog-left-side-right-container a:hover {
    color: #dc3545 ;
}
.blog-left-side-right-container p {
    font-size: 14px;
}
.blog-left-side-right-container .view-btn a {
    font-size: 14px;
    color: #000;
}
.blog-right-side-container .blog-right-side{
    background-color: #fafafa;
    padding: 20px;
}
.blog-body-section-container .blog-right-side-container .search-blog-container .search-blog {
    padding: 5px 15px;
    background-color: var(--global-main-color);
    caret-color: var(--global-white-color);
}
.blog-body-section-container .blog-right-side-container .search-blog-container .search-blog::placeholder {
    color: var(--global-white-color);
}
.blog-body-section-container .blog-right-side-container .search-blog-container .search-blog:focus {
    outline: none;
}
.blog-body-section-container .blog-right-side-container .search-blog-container i {

    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--global-white-color);
}
.post-profile-name-detail-container p span a{
    color: #000;
}
.post-profile-name-detail-container p span a:hover {
    color: var(--global-main-color);
}
.popular-post-container .popular-post-heading {
    color: var(--global-white-color);
    background-color: var(--global-main-color);
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
}
.popular-post-container .popular-post-detail p {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.popular-post-container .popular-post-detail p:hover {
    color: var(--global-main-color);
}
.popular-post-container .popular-post-detail span{
    font-size: 13px;
}
.popular-post-container ul li {
    transition: all 0.2s ease 0s;
    font-weight: 500;
    color: gray;
    padding: 10px;
    cursor: pointer;
}
.popular-post-container ul li:hover {
    color: var(--global-main-color);
    border-color: var(--global-main-color);
}

.tab-cloud-container .tab-cloud-btn-container a {
    margin: 4px 0px;
    padding: 3px 10px;
    background-color: var(--global-white-color);
    color: #000;
    font-size: 13px;
    border: 1px solid #f4f4f4;

    display: inline-block;
    transition: all 0.3s ease 0s;
}
.tab-cloud-container .tab-cloud-btn-container a:hover {
    background-color: var(--global-main-color);
    color: var(--global-white-color);
}